.popup__input-container {
    border: 0;
    padding: 0;
    max-width: 430px;
    margin: 0px 36px 36px;
}

@media screen and (max-width: 475px) {
    .popup__input-container {
        margin: 0 24px 24px;
    }
}
@media screen and (max-width: 350px) {
    .popup__input-container {
        margin: 0 12px 12px;
    }
}

