.popup__container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 430px;
    width: 100%;
    min-height: 330px;	
    background: #fff;
    border-radius: 10px; 
}