.elements__image {
    max-width: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    object-fit: fill;
    height: 282px;
}

@media screen and (max-width: 677px) {
    .elements__image {
        height: 400px;
    }
}

@media screen and (max-width: 500px) {
    .elements__image {
        height: 282px;
    }
}