@import url(./__logo/header__logo.css);
.header {
    max-width: 882px;
    margin: auto;
    height: 74px;
    margin-top: 45px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 920px) {
    .header {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 475px) {
    .header {
        margin: 0;
        margin-top: 28px;
    }
}
