.profile__name {
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.33;
}

@media screen and (max-width: 475px) {
    .profile__name  {
        font-size: 27px;
        line-height: 2.03;
    }
}