.profile__avatar {
    max-height: 120px;
    max-width: 120px;
    width: 100%;
}
@media screen and (max-width: 760px) {
    .profile__avatar {
        margin: auto;
        margin-bottom: 14px;
    }
}