@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../root/root.css);
@import url(../blocks/container/container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/button/button.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_open/popup_open.css);
@import url(../blocks/opacity/opacity.css);