.profile__info {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 30px;
}
@media screen and (max-width: 760px) {
    .profile__info {
        margin: auto;
    }
}