.popup__item {
    border: 0;
    padding: 0;
    width: 100%;
    min-height: 27px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.popup__item:last-of-type {
    margin-bottom: 0;
}