@import url(./__image/card__image.css);
@import url(./__info/card__info.css);
@import url(./__title/card__title.css);

.card {
    max-width: 431px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card {
    margin-top: 50px;
}
@media screen and (max-width: 475px) {
    .card  {
        margin-top: 36px;
    }
}